<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> view </title>
    </head>
    <body>
        <table border="1" width="100%">
            <% data.forEach(function(list, index){   %>
                <tr>
                    <th>제목</th>
                    <td><%= list.title %></td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td><%= list.releasedate %></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td><%= list.name %></td>
                </tr>		
            
            <tr>
                <td colspan="2" align="center" height="40px">
                <a class="button" href="\">목록이동</a>
                <a class="button" href="\delete?number=<%= list.number %>">삭제</a>
                <a class="button" href="\modify?number=<%= list.number %>">수정</a>
            </tr>
            <%
            });
            %>	
        </table>
    </body>
</html>